@page "/"

<PageTitle>Home</PageTitle>

<table>
    <thead>
        <tr>
        <th>Month</th>
        <th>Day</th>
        <th>Weekday</th>
        <th></th>
        <th></th>
        </tr>
        <tr>
            <td>
                <select id="Select1" >
                    <option></option>
                </select></td>
        </tr>
    </thead>
</table>

@* <svg>
@((MarkupString)piece.RenderSvg(10, 10, 20, 20))
</svg> *@